<div class="App-widget">
    <div class="App-widget-title-wrapper">
        <div class="App-widget-title">Settings</div>
    </div>
    <div class="App-widget-body-wrapper">
        <div class="Settings-wrapper">
            <div class="Settings-title">
                Account Settings
            </div>
            <div class="Settings-body">
                <div class="App-widget-element Settings-element">
                    <label class="Settings-label-text">Username</label>
                    <div class="Settings-data-text Settings-data-locked">{{username}}</div>
                </div>
                <div class="App-widget-element Settings-element">
                    <label class="Settings-label-text">Email</label>
                    <div class="Settings-data-text">{{email}}</div>
                </div>
                <div class="App-widget-element Settings-element">
                    <label class="Settings-label-text">First Name</label>
                    <div class="Settings-data-text">{{firstName}}</div>
                </div>
                <div class="App-widget-element Settings-element">
                    <label class="Settings-label-text">Last Name</label>
                    <div class="Settings-data-text">{{lastName}}</div>
                </div>
            </div>
        </div>
    </div>
</div>