<div class='App-widget Tasker'>
    <app-tasker-input
        (onSubmit)="onAddTask($event.description, $event.priority)"
        [ngStyle]="{ 'width': '100%' }">
    </app-tasker-input>
    <label class="App-error-message">{{errorMessage}}</label>
    <ng-container *ngIf="tasks.length != 0; else emptyDisplay">
        <ng-container *ngFor="let task of tasks">
            <app-task 
                [ngStyle]="{ 'width': '100%' }" 
                [id]="task.id" 
                [description]="task.description" 
                [priority]="task.priority" 
                (onDelete)="onDeleteTask($event.id)"
                (onUpdate)="onUpdateTask($event.id, $event.description, $event.priority)">
            </app-task>
        </ng-container>
    </ng-container >
    <ng-template #emptyDisplay>
        <div class='Tasker-empty-text'>... the list is empty</div>
    </ng-template>
</div>